<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>


<body> 
    <div class="container">
        <h1>Hey! Hey you! Wanna get a roe aunt name?</h1>
        <br>
        <form method="post">
            <label for="letter">
                First Letter Of Your Name (leave blank for random):
            </label>
            <input type="text" name="letter" id="letter">
            <br>
            <button class="btn btn-primary" type="submit">Get a name!</button>
        </form>
        <hr>
        <div class="result">
            {{ result }}
        </div>
    </div>
</body>

</html>